.navbar{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 0.5em;
    box-shadow: 0 0 1em #44434663;
}

.navbar h1{
    display: flex;
    position: absolute;
    font-size: 1.6em;
    top: 30px;
    transform: translateX(37%);
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.img{
    width: 3.7em;
}

.item{
    margin-right: 1em;
}

.item a{
    color:  #444346;
    font-weight: bold;
    text-decoration: none;
}

.item a:hover{
    color: #ffbb33;
}

